.nav-bar {
    background-color: rgba(0,0,0,.7);
    box-shadow: inherit;
}

#navigation-nav {
    padding-top: 13px;
    height: 60px;
}

#cast-nav {
    padding-top: 18px;
}

.scroll-shadow {
    left: 0px !important;
    top: 58px !important;
}

#content {
    top: 60px !important;
}

.section-sort-list-container .QuickSearch-container-18Zgf {
    width: auto;
    height: auto;
    margin-left: 5px;
}

.section-sort-list-container .QuickSearchInput-container-3P9xh {
    margin-top: 3px;
}

.search-category {
    height: auto;
}

.side-bar {
    background-color: rgba(0,0,0,.15);
    background-image: inherit;
    -webkit-font-smoothing: antialiased;
}

.side-bar-page {
    padding-left: 0px;
    padding-right: 5px;
}

.section-sort-container > h5 {
    color: hsla(0,0%,100%,.3);
    padding-left: 25px;
}

.side-bar-list > li > a {
    color: hsla(0,0%,100%,.7);
    transition: color .2s;
    border-radius: 0 4px 4px 0;
    padding-left: 25px;
}

.side-bar-list > li > a:hover {
    color: #fff;
    background-color: hsla(0,0%,100%,.08);
}

.media-poster-container {
    cursor: pointer;
}

.MetadataPosterCardOverlay-playButton-12XyM {
    -webkit-transform: translate(-50%,-50%) scale(.9);
    transform: translate(0%,0%) scale(.9);
}

.media-poster-overlay:hover .MetadataPosterCardOverlay-playButton-12XyM {
    -webkit-transform: translate(-50%,-50%) scale(1);
    transform: translate(0%,0%) scale(1);
}

.media-poster-overlay:hover .MetadataPosterCardOverlay-button-3gK0Y {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.MetadataPosterCardOverlay-centerCircle-3H7Xg {
    top: 0% !important;
    left: 0% !important;
}

.PlayButton-playIcon-3FLXQ {
    top: 33%;
}

h4.season-nav {
    float: right;
    font-size: 19px;
    margin-left: 5px;
    margin-right: 5px;
}

.summary {
    font-size: 16px;
}

.modal {
    display: block;
}

.select-list-item .before {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    font-family: Glyphicons Regular;
    color: rgba(0,0,0,.2);
    text-align: center;
    text-indent: 0;
    background-color: rgba(0,0,0,.2);
    border-right: 1px solid hsla(0,0%,100%,.1);
    content: "";
}

.before .loading {
    position: absolute;
    top: 50%;
}

.video-player {
    z-index: auto;
}

.video-controls-right {
    padding-top: 15px;
}

.video-controls-right>.btn-link, .video-controls-right>.dropdown {
    float: none;
}

.alert-paused>.glyphicon {
    top: 27%;
}

.video-controls-overlay-bottom>.video-controls-left {
    padding-top: 15px;
}

.player-volume-slider-container {
    margin-top: 10px !important;
}

.dark-scrollbar::-webkit-scrollbar {
    width: 14px;
}

.dark-scrollbar::-webkit-scrollbar-track {
    background-color: inherit;
}
