#navigation-nav {
    padding-top: 13px;
}

#cast-nav {
    padding-top: 18px;
}

.section-sort-list-container .QuickSearch-container-18Zgf {
    width: auto;
    height: auto;
    margin-left: 5px;
}

.section-sort-list-container .QuickSearchInput-container-3P9xh {
    margin-top: 3px;
}

.search-category {
    height: auto;
}

.media-poster-container {
    cursor: pointer;
}

h4.season-nav {
    float: right;
    font-size: 19px;
    margin-left: 5px;
    margin-right: 5px;
}
